<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vulnerabilities</title>
</head>
<body>
   <h2>SQL Injection</h2>
   <form method="POST" action="/login">
      <label>Korisničko ime:</label><br>
      <input type="text" name="username" /><br><br>

      <label>Lozinka:</label><br>
      <input type="text" name="password" /><br><br>

      <button type="submit">Login</button><br><br>
      <input type="checkbox" name="sqlInjection" /> Omogući SQL Injection
   </form>

   <hr>

   <h2>Broken Authentication</h2>
   <!-- <form>
      <button type="submit">Access Admin Panel</button><br><br>
      <input type="checkbox" name="brokenAuth" /> Omogući Broken Authentication
   </form> -->
   <form method="POST" action="/login">
      <label>Korisničko ime:</label><br>
      <input type="text" name="username" /><br><br>

      <label>Lozinka:</label><br>
      <input type="text" name="password" /><br><br>

      <button type="submit">Login</button><br><br>
      <input type="checkbox" name="brokenAuth" /> Omogući Broken Authentication
   </form>
</body>
</html>